<!-- IF S_TYPE == 1 -->
<div class="panel captcha-panel">
	<div class="inner">

	<h3 class="captcha-title">TODO: Instructions for registering users (should be based on L_CONFIRMATION in standard reCAPTCHA plugin) {L_NEWRECAPTCHA_CONFIRMATION}</h3>
	<p>TODO: Explain why (should be based on L_CONFIRM_EXPLAIN in standard reCAPTCHA plugin, but bear in mind this value is filled in by our form setup code, and changes depending on the state (if we're confirming a post rather than a registration, say.)){L_NEWRECAPTCHA_CONFIRM_EXPLAIN}</p>

	<fieldset class="fields2">
<!-- ENDIF -->

<!-- IF S_RECAPTCHA_AVAILABLE -->
	<!-- INCLUDEJS https://www.google.com/recaptcha/api.js -->
	<dl>
	<dt><label>{L_NEWRECAPTCHA_CONFIRM_HUMAN}{L_COLON}</label><br /><span>{L_NEWRECAPTCHA_EXPLAIN}</span></dt>
	<dd class="captcha">
		<div class="g-recaptcha" data-sitekey="{NEWRECAPTCHA_SITEKEY}" ></div>
		<noscript>
			<!-- TODO: noscript -->
		</noscript>
	</dd>
	</dl>
<!-- ELSE -->
{L_RECAPTCHA_NOT_AVAILABLE}
<!-- ENDIF -->

<!-- IF S_TYPE == 1 -->
	</fieldset>
	</div>
</div>
<!-- ENDIF -->
