<!-- gothick/recaptcha2 prosilver captcha_recaptcha2 -->
<!-- IF S_TYPE == 1 -->
<div class="panel captcha-panel">
	<div class="inner">

	<h3 class="captcha-title">{L_CONFIRMATION}</h3>
	<p>{L_CONFIRM_EXPLAIN}</p>

	<fieldset class="fields2">
<!-- ENDIF -->

<!-- IF S_RECAPTCHA_AVAILABLE -->
	<!-- INCLUDE recaptcha_scripts.html -->
	<dl>
	<dt><label>{L_GOTHICK_RECAPTCHA2_CONFIRM_HUMAN}{L_COLON}</label><br /><span>{L_GOTHICK_RECAPTCHA2_EXPLAIN}</span></dt>
	<dd class="captcha">
		<div class="g-recaptcha" data-sitekey="{RECAPTCHA2_SITEKEY}" ></div>
		<noscript>
			<div>
				{L_GOTHICK_RECAPTCHA2_NOSCRIPT}
			</div>
		</noscript>
	</dd>
	</dl>
<!-- ELSE -->
{L_GOTHICK_RECAPTCHA2_NOT_AVAILABLE}
<!-- ENDIF -->

<!-- IF S_TYPE == 1 -->
	</fieldset>
	</div>
</div>
<!-- ENDIF -->
